	<div id="swrifts-sheet" class="tab-pane fade in">
		<p class="cg-tip">Blurb here</p>             
                 <div class="form-group row">
                     <div class="col-sm-3">
						<span class="heading">Iconic Framework</span> 
                     </div>
                     <div class="col-sm-9">
						{{markdown-editor text=char.custom.iconicf}}
                     </div>
                 </div>
	</div> 