 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftssheet">Sheet</a></li>
 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftswounds">Wounds</a></li>
 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftspowers">Powers</a></li>
 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftsiconicf">Special Abilities</a></li>
 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftsmodifiers">Edges & Hinderances</a></li>
 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftsgear">Gear</a></li>
 <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#swriftsadvancement">Advancement</a></li>
