 <li><a data-toggle="tab" href="#swriftssheet">Sheet</a></li> 
 <li><a data-toggle="tab" href="#swriftswounds">Wounds</a></li>
 <li><a data-toggle="tab" href="#swriftspowers">Powers</a></li>
 <li><a data-toggle="tab" href="#swriftsiconicf">Iconic Framework</a></li>
 <li><a data-toggle="tab" href="#swriftsmodifiers">Edges & Hinderances</a></li>
 <li><a data-toggle="tab" href="#swriftsgear">Gear</a></li>
 <li><a data-toggle="tab" href="#swriftsadvancement">Advancement</a></li>