    <div id="swriftssheet" class="tab-pane fade">
		<div class="swriftsheet">
		    <div class='skilltable'>
				<div class='container-fluid skillstable'>
					<div class='row no-gutters stdlh'>
						<div class='titlerow' colspan='6'>Skills</div>
							{{{ansi-format text=char.custom.stats}}}
						</div>
					</div>
				</div>
			</div>	
			{{{ansi-format text=char.custom.skills}}}
			<div class="bennies">
				<div class='bennietable'>
					<div class='container-fluid benniesstable'>
						<div class='row no-gutters stdlh'>
							<div class='titlerow' colspan='5'>Bennies and Conviction</div>
								<div class='row benniedata'>
									<div class="col-sm-2">
										Bennies: Bennies here
									</div>
								</div>
								
								<div class='row convictiondata'>
									<div class="col-sm-2">
										Conviction: Conviction here
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>