    <div id="systemgoals" class="tab-pane fade">
        {{{ansi-format text=char.custom.goals}}}
     </div>

	 <div id="systemswadeskills" class="tab-pane fade">
        {{{ansi-format text=char.custom.swadeskills}}}
     </div>	 
