<!-- Sheet tab -->

    <div id="swriftssheet" class="tab-pane fade">
		<div class="swriftsheet">
			<div class="stattable left">
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="5">
								Stats
							</div>
								{{{ansi-format text=char.custom.stats}}}
						</div>
					</div>
			
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="6">
								Derived Stats
							</div>
								
						</div>
					</div>
					
					<div class="container-fluid statstable">
						<div class="row no-gutters stdlh">
							<div class="titlerow" colspan="6">
								Skills
							</div>
								{{{ansi-format text=char.custom.skills}}}
						</div>
					</div>
			</div>

		    <div class="stattable right">
				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Bennies And Conviction
						</div>
						<div class="col-sm-6 center">
							<span class="skillname">Bennies: </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname">Conviction: </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>

				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Armor
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>

				<div class="container-fluid statstable">
					<div class="row no-gutters stdlh">
						<div class="titlerow" colspan="2">
							Weapons
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
						<div class="col-sm-6 center">
							<span class="skillname"> </span><span class="rating">$var here</span>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
	
<!-- Wounds Tab -->
	<div id="swriftswounds" class="tab-pane fade">	
	
	</div>
	
<!-- Powers Tab -->
	<div id="swriftspowers" class="tab-pane fade">	
	
	</div>
	
<!-- Iconic Framework Tab -->
	<div id="swriftsiconicf" class="tab-pane fade">	
	
	</div>

<!--Modifiers Tab -->
	<div id="swriftsmodifiers" class="tab-pane fade">	
	
	</div>
	
<!--Gear Tab -->
	<div id="swriftsgear" class="tab-pane fade">	
	
	</div>
	
<!--Advancement Tab -->
	<div id="swriftsadvancement" class="tab-pane fade">	
	
	</div>
	
	
	
	