    <div id="swriftssheet" class="tab-pane fade">
		<div class="swriftsheet">
			{{{ansi-format text=char.custom.stats}}}
			{{{ansi-format text=char.custom.skills}}}
			<div class="bennies">
				<div class='bennietable'>
					<div class='container-fluid benniesstable'>
						<div class='row no-gutters stdlh'>
							<div class='titlerow' colspan='5'>Bennies and Conviction</div>
								<div class='row benniedata'>
									<div class="col-sm-2">
										Bennies: {{{ansi-format text=char.custom.bennies}}}
									</div>
								</div>
								
								<div class='row convictiondata'>
									<div class="col-sm-2">
										Conviction: {{{ansi-format text=char.custom.conviction}}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>