{{page-title 'SWRIFTS Abilities'}}
<h1>SWRIFTS Abilities</h1>

<div class="edgrow">
  <p>We are here </p>
  <pre>
  {{{ansi-format text=model.swabilities}}}

</pre>


{{#each model.swabilities as |ability|}}
    <div class="edgcol">
        <h3 class="txthding">{{ability.name}}</h3>
        <p>{{ability.description}}</p>
    </div>
{{/each}}
</div>
