{{page-title 'SWRIFTS Edges'}}
<h1>SWRIFTS Edges</h1>

<h2>Edge</h2>

<p> Does this actually work? </p>

Edges: <br />

<pre>
{{{ansi-format text=model.edges}}}
</pre>

Listing it out: <br />
{{#each model.edges as |gear|}}
	Name: {{gear.name}}<br />
    Description: {{gear.description}}<br />
	***<br />
	<br />
{{/each}}
